:root {
    --green: #37CFB1;
    --coral: #FFB0B0;
    --blue: #4259ED;
    --dark-blue: #061387;
    --cs-white: #F6F9FF;
    --cs-gray-100: #DFE6F4;
    --cs-gray-200: #A2AFCD;
    --cs-gray-300: #6F7F9F;
    --cs-blue-100: #4D5786;
    --cs-blue-200: #2D3766;
    --cs-blue-300: #2D3766;
}